@tailwind base;

/* Component styles */
@tailwind components;

/* Utility styles */
@tailwind utilities;

#about {
  background-color: #fff;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.h-screen {
  height: 100vh;
}

.bg-white {
  background-color: white;
}
