
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir ';
    src: url('./font/Avenir-Roman.ttf');
}
@font-face {
    font-family: 'Allenoire Free Personal';
    src: url('./font/Allenoire\ Font.otf');
}
